/*******************************
            Theme
*******************************/

type    = 'global'
element = 'site'

@import '../../themes.styl'

@import '../mixins/vendor-prefixes.styl'

// Reset the box-sizing
//
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see
// http://getbootstrap.com/getting-started/#third-box-sizing
*
  box-sizing: border-box

*:before,
*:after
  box-sizing: border-box

/*******************************
             Page
*******************************/
html,
body
  height 100%


html
  font-size textSize


body
  margin 0
  padding 0
  overflow-x pageOverflowX
  background-color pageBackground
  font-family pageFont
  font-size textSize
  line-height lineHeight
  color textColor


// Reset fonts for relevant elements
input,
button,
select,
textarea
  font-family inherit
  font-size inherit
  line-height inherit

// Horizontal rules
hr
  margin-top    floor((textSize * lineHeight));
  margin-bottom @margin-top
  border 0
  border-top 1px solid hrBorder


/*******************************
             Headers
*******************************/
// Figures
//
// We reset this here because previously Normalize had no `figure` margins. This
// ensures we don't break anyone's use of the element.

figure
  margin 0



/*******************************
          Highlighting
*******************************/

/* Site */
::-webkit-selection
  background-color highlightBackground
  color highlightColor

::-moz-selection
  background-color highlightBackground
  color highlightColor

::selection
  background-color highlightBackground
  color highlightColor


/* Form */
textarea::-webkit-selection,
input::-webkit-selection
  background-color inputHighlightBackground
  color inputHighlightColor

textarea::-moz-selection
input::-moz-selection
  background-color inputHighlightBackground
  color inputHighlightColor

textarea::selection,
input::selection
  background-color inputHighlightBackground
  color inputHighlightColor

loadUIOverrides()
