/*******************************
            Theme
*******************************/

type    = 'global'
element = site

@import '../../themes.config'

/*******************************
             Page
*******************************/
html,
body {
  height 100%
}

html {
  font-size textSize
}

body {
  margin 0px
  padding 0px
  overflow-x pageOverflowX
  background pageBackground
  font-family pageFont
  font-size textSize
  line-height lineHeight
  color textColor
}

/*******************************
             Headers
*******************************/

h1,
h2,
h3,
h4,
h5,
h6
  font-family headerFont
  line-height headerLineHeight
  margin headerMargin
  font-weight headerFontWeight
  padding 0em

h1
  font-size h1Size

h2
  font-size h2Size

h3
  font-size h3Size

h4
  font-size h4Size

h5
  font-size h5Size

h6
  font-size h6Size


/*******************************
             Text
*******************************/

p
  margin paragraphMargin
  line-height paragraphLineHeight


/*-------------------
        Links
--------------------*/

a
  color linkColor
  text-decoration linkUnderline

a:hover
  color linkHoverColor
  text-decoration linkHoverUnderline


/*******************************
          Highlighting
*******************************/

/* Site */
::-webkit-selection
  background-color highlightBackground
  color highlightColor

::-moz-selection
  background-color highlightBackground
  color highlightColor

::selection
  background-color highlightBackground
  color highlightColor


/* Form */
textarea::-webkit-selection,
input::-webkit-selection
  background-color inputHighlightBackground
  color inputHighlightColor

textarea::-moz-selection
input::-moz-selection
  background-color inputHighlightBackground
  color inputHighlightColor

textarea::selection,
input::selection
  background-color inputHighlightBackground
  color inputHighlightColor

loadUIOverrides()
