columnCount = 12
initGridColumn(gutter = 30px)
  list = ''
  for index in (1..columnCount)
    list += ', ' if index > 1
    list += '.col-xs-' + index + ', .col-sm-' + index + ', .col-md-' + index + ', .col-lg-' + index

  {list}
    position relative
    // Prevent columns from collapsing when empty
    min-height 1px
    // Inner gutter via padding
    padding-left  (gutter / 2)
    padding-right (gutter / 2)

initGridColumn()