use('../src/helpers/file-exist.js');

@import "3.styl"

defaultGlobalSiteVariable = '../src/' + themesFolder + '/default/globals/site.variables.styl'

@import defaultGlobalSiteVariable if file-exist(defaultGlobalSiteVariable)