use('../src/helpers/file-exist.js')

element = button

button = 'default'

sizeType = element

@import '45.styl'

body
  background-image url(sizeType);
  background-color lighten(rgb(100, 100, 100), 40)