/*******************************
            Theme
*******************************/

type = 'collection'
element = 'grid'

@import '../../themes.styl'

@import '../mixins/grid.styl'


// init container element
.container
  initGridContainer()

  @media (min-width: breakpointMin['tablet'])
    width gridContainerFixWidth['tablet']

  @media (min-width: breakpointMin['desktop'])
    width gridContainerFixWidth['desktop']

  @media (min-width: breakpointMin['largeDesktop'])
    width gridContainerFixWidth['largeDesktop']

.container-fluid
  initGridContainer()


// init row
.row
  initGridRow()
  setGridColumnPadding()

// init column common style
initGridColumn()

// make mobileScreen grid
makeGridColumnStyle(xs)

// make tabletScreen grid
@media (min-width: breakpointMin['tablet'])
  makeGridColumnStyle(sm)

// make desktopScreen grid
@media (min-width: breakpointMin['desktop'])
  makeGridColumnStyle(md)

// make largeDesktopScreen grid
@media (min-width: breakpointMin['largeDesktop'])
  makeGridColumnStyle(lg)

loadUIOverrides()