/*******************************
            Theme
*******************************/

type = 'collection'
element = type

@import '../../themes.config.styl'

@import "../mixins/type.styl"


/*-------------------
    1. Element style reset
--------------------*/
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
  padding 0
  font-family: headerFont
  font-weight: headerFontWeight
  line-height: headerLineHeight
  color: headerColor

  small,
  .small
    font-weight: normal
    line-height: 1
    color: headerSmallColor

// global header size
h1, .h1
  font-size: h1Size
h2, .h2
  font-size: h2Size
h3, .h3
  font-size: h3Size
h4, .h4
  font-size: h4Size
h5, .h5
  font-size: h5Size
h6, .h6
  font-size: h6Size

h1, h2, h3,
.h1, .h2, .h3
  margin lineHeightComputed 0 (lineHeightComputed / 2)

  small,
  .small
    font-size: 65%

h1, h2, h3,
.h1, .h2, .h3
  margin (lineHeightComputed / 2) 0

  small,
  .small
    font-size: 75%

p
  margin paragraphMargin
  line-height paragraphLineHeight


// Lists
// Below are some basic roles about list, more detailed styles will be place in collections/list
// Todo: roles below can be move into .article
// -------------------------

// Unordered and Ordered lists
ul,
ol {
  margin-top: 0
  margin-bottom: (lineHeightComputed / 2)
  ul,
  ol {
    margin-bottom: 0
  }
}

// Description Lists
dl {
  margin-top: 0 // Remove browser default
  margin-bottom: lineHeight
}
dt,
dd {
  line-height: lineHeight;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0; // Undo browser default
}

// Table
// Todo: roles below can be move into .article
// -------------------------
table
  border-collapse: collapse
  border-spacing: 0


a
  color: linkColor
  text-decoration: linkUnderline

  &:hover,
  &:focus
    color: linkHoverColor
    text-decoration: linkHoverUnderline

  &:focus
    tabFocus()

// 地址元素
address
  margin-bottom: lineHeightComputed
  font-style: normal
  line-height: lineHeightBase

// em:着重语义,中文下标点,英文斜体
// cite: 书名,英文斜体,中文无
em, cite
  font-style: italic
  @extend .font-hei

cite
  +langZhPseudo()
    font-style: inherit
    font-family: inherit

em
  +langZhPseudo()
    position: relative
    // 着重号，只能在少量（少于100个字符）且全是全角字符的情况下使用
    &:after
      position: absolute;
      top: 0.65em;
      left: 0;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      content: "・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・";

    // 支持text-emphasis 和text-emphasis-position 的情况下
    @supports(text-emphasis: filled circle) and (text-emphasis-position: under){
      font-style: inherit;
      font-weight: inherit;
      text-decoration: inherit;
      text-emphasis: filled circle;
      text-emphasis-position: under;

      &:after
        content: ''
        position: relative
        width: 0;
        height: 0
    }

q
  quotes: qQuoteEn

  +langZhPseudo()
    quotes: qQuoteCn

  &:before
    content: open-quote
  &:after
    content: close-quote

u, ins
  text-decoration: underline

s, del
  text-decoration: line-through

abbr[title]
  cursor: help
  border-bottom: 1px dotted abbrBorderColor

small,
.small
  font-size: relativeMini

// 中文粗体,英文斜体
dfn
  font-style: italic

  +langZhPseudo()
    font-style: normal
    font-weight: bold

mark,
.mark
  background-color: yellowBackground
  padding: .2em

hr
  margin-top:    lineHeightComputed
  margin-bottom: lineHeightComputed
  border: 0
  border-top: 1px solid hrBorderColor

// todo: blockquote
blockquote
  padding: (lineHeightComputed / 2) lineHeightComputed
  margin: 0 0 lineHeightComputed
  font-size: blockquoteFontSize
  border-left: 5px solid blockquoteBorderColor

  p,
  ul,
  ol,
  dl
    &:last-child // not compatible in ie8-
      margin-bottom: 0

  footer,
  small,
  .small
    display: block
    font-size: 80%
    line-height: lineHeightComputed
    color: blockquoteSmallColor

    &:before
      content: '\2014 00A0'

  blockquote
    padding: 0 0 0 (lineHeightComputed / 2)
    border-left: none

.blockquote-reverse,
blockquote.pull-right
  padding-right: 15px
  padding-left: 0
  border-left: 0
  border-right: 5ps solid blockquoteBorderColor
  text-align: right

  footer,
  small,
  .small
    &:befor
      content: ''
    &:after
      content: '\2014 00A0'

// todo: pre, code, kbd, samp, var, i
code,
kbd
  padding: 2px 4px
  font-size: 90%
  border-radius: borderRadiusBase

code
  color: codeColor
  background-color: codeBg

kbd
  color: kbdColor
  background-color: kbdBg
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.25)

  kbd
    padding: 0
    font-size: 100%
    font-weight: bold
    box-shadow: none
    border-radius: 0

pre
  display: block
  padding: (lineHeightComputed / 2)
  margin: 0 0 (lineHeightComputed / 2)
  font-size: (textSize - 1)  // 14px to 13px
  color: preColor
  word-break: break-all
  word-wrap: break-word
  background-color: preBg
  border: 1px solid preBorderColor

  code
    padding: 0
    font-size: inherit
    color: inherit
    white-space: pre-wrap
    background-color: transparent
    border-radius: 0

i,
var
  font-style: italic

/*-------------------
    2. font-face utility definitions
--------------------*/
.cui.font-hei
  font-family: 'CUI Sans', 'CUI HeiTi GB', sans-serif

.cui.font-song
  font-family: 'CUI Serif', 'CUI SongTi GB', serif

.cui.font-kai
  font-family: 'CUI Serif', 'CUI KaiTi GB', serif

.cui.font-fang-song
  font-family: 'CUI Serif', 'CUI Fangsong GB', serif

/*-------------------
    3. Hanzi font-family definitions
--------------------*/
code,
kbd,
samp,
pre
  font-family: 'CUI Mono', 'CUI HeiTi GB', monospace, sans-serif

i,
var
  font-family: 'Biaodian Pro Serif', 'CUI Serif', 'CUI KaiTi GB', serif

.cui.article
  strong
    font-family: 'Biaodian Pro Sans', 'CUI Sans', 'CUI HeiTi GB', sans-serif

  blockquote
    font-family: 'Biaodian Pro Serif', 'CUI Serif', 'CUI KaiTi GB', serif

    i,
    var
      font-family: 'Biaodian Pro Sans', 'CUI Sans', 'CUI HeiTi GB', sans-serif

figure
  blockquote
    font-family: 'Biaodian Pro Serif', 'CUI Serif', 'CUI SongTi GB', serif


/*-------------------
    4. .article class definitions
--------------------*/
.cui.article
  line-height: 1.7

    & > blockquote
      @media (max-width: breakpointMax['mobile'])
        padding-left: (lineHeightComputed / 2)

figure > blockquote
    padding: (lineHeightComputed / 2)

/*-------------------
    5. text utility class definitions
--------------------*/
// Emotive Text
.text-primary
  textEmotiveVariant(primaryColor)
.text-positive
  textEmotiveVariant(positiveColor)
.text-negative
  textEmotiveVariant(negativeColor)

// Color Text
colorLoop(textColorVariant)

// Alignment Text
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

// Transformation Text
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

loadUIOverrides()