/*-------------------
    Font-Face Definitions
--------------------*/
// 中文标点,参考Han.css 的Biaodian Pro,简体繁体均适用

// 单点全形句号修正(．)
@font-face {
  font-family: 'Biaodian Pro Sans';
  src:
    local('Hiragino Sans GB'),
    local('Heiti SC'),
    local(STHeiti),
    local(SimSun);
  unicode-range: U+FF0E;
}

@font-face {
  font-family: 'Biaodian Pro Serif';
  src:
    local('Songti SC'),
    local(STSong),
    local(SimSun);
  unicode-range: U+FF0E;
}

// 间隔号修正(·)为一汉字宽,多见于西文
@font-face {
  font-family: 'Biaodian Pro Sans';
  src:
    local('Hiragino Sans GB'),
    local('Heiti SC'),
    local(STHeiti),
    local(SimSun);
  unicode-range: U+00B7;
}

@font-face {
  font-family: 'Biaodian Pro Serif';
  src:
    local('Songti SC'),
    local(STSong),
    local('Heiti SC'),
    local(SimSun);
  unicode-range: U+00B7;
}

// 破折号修正,相连时无间隔,单独适用时两侧不连字符(——)
// todo: 与Han.css 不同,这里没有声明han.woff 字体,所以,可能并不会达到预期效果,需要仔细测试
@font-face {
  font-family: 'Biaodian Pro Sans';
  src:
    local('Hiragino Sans GB'),
    local('Microsoft Yahei'),
    local(SimSun);
  unicode-range: U+2014;
}

@font-face {
  font-family: 'Biaodian Pro Serif';
  src:
    $han-webfont,
    local('Hiragino Mincho ProN'),
    local('Hiragino Mincho Pro'),
    local('Songti SC'), local(STSong),
    local('Microsoft Yahei'),
    local(SimSun);
  unicode-range: U+2014;
}

// 省略号修正,相连时居中,单独使用时沉底
@font-face {
  font-family: 'Biaodian Pro Sans';
  src:
    local('Hiragino Sans GB'),
    local(SimSun),
    local(PMingLiU);
  unicode-range: U+2026;
}

@font-face {
  font-family: 'Biaodian Pro Serif';
  src:
    local('Songti SC'),
    local(SimSun),
    local(PMingLiU);
  unicode-range: U+2026;
}


// 中文字体,参考自Han.css Han Heiti GB,和fonts.css
// 黑体
@font-face {
  font-family: 'CUI HeiTi';
  src:
    local('Hiragino Sans GB'),
    local('PingFang SC Light'),
    local('PingFang-SC-Light'),
    local('PingFang SC'),
    local('Lantinghei SC Extralight'),
    local(FZLTXHK--GBK1-0),
    local('Lantinghei SC'),
    local('Heiti SC Light'),
    local(STHeitiSC-Light),
    local('Heiti SC'),

    local('Microsoft Yahei'),

    local('Source Han Sans SC'),
    local('Source Han Sans CN'),

    local('Wenquanyi Micro Hei'),
    local('WenQuanYi Zen Hei'),

    local('SimHei'),
    local('WenQuanYi Zen Hei Sharp'),

    local('Droid Sans Fallback'),
    local(sans-serif);
}

// 宋体
@font-face {
  font-family: 'CUI Songti GB';
  src:
    local('Songti SC Regular'),
    local(STSongti-SC-Regular),
    local('Songti SC'),
    local(STSong),

    local(NSimSun),
    local(SimSun),

    local('AR PL New Sung'),

    local('TW\-Sung'),

    local('WenQuanYi Bitmap Song'),
    local('AR PL UMing CN'),
    local('AR PL UMing HK'),
    local('AR PL UMing TW'),
    local('AR PL UMing TW MBE'),

    local(serif);
}

// 楷体
@font-face {
  han-range-cjk();
  font-family: 'CUI Kaiti GB';
  src:
    local('Kaiti SC Regular'),
    local(STKaiTi-SC-Regular),
    local('Kaiti SC'),
    local(STKaiti),

    local(Kai),
    local(Kaiti),
    local(KaiTi_GB2312),

    local('AR PL UKai CN'),
    local('AR PL UKai HK'),
    local('AR PL UKai TW'),
    local('AR PL UKai TW MBE'),

    local('AR PL KaitiM GB'),

    local(DFKai-SB),

    local('TW\-Kai'),

    local(serif);
}

// 仿宋
@font-face {
  font-family: 'Han Fangsong GB';
  src:
    local(STFangsong),
    local(FangSong),
    local(FangSong_GB2312),
    local('CWTEX\-F'),

    local(serif);
}



// 数字字体

// 西文意大利体

// 西文字体