langZhPseudo()
  &:lang(zh),
  &:lang(zh-CN)
    {block}

textEmotiveVariant(_color)
  color: _color
  a&:focus,
  a&:hover
    color: darken(_color, 10%);

textColorVariant(colorKey)
  _color = lookup(colorKey)
  .text-{colorKey}
    textEmotiveVariant(_color)