/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
_site       = 'default'
_reset      = 'default'

/* Elements */
_button     = 'default'
_container  = 'default'
_divider    = 'default'
_flag       = 'default'
_header     = 'default'
_icon       = 'default'
_image      = 'default'
_input      = 'default'
_label      = 'default'
_list       = 'default'
_loader     = 'default'
_rail       = 'default'
_reveal     = 'default'
_segment    = 'default'
_step       = 'default'

/* Collections */
_breadcrumb = 'default'
_form       = 'default'
_grid       = 'default'
_typo       = 'default'
_menu       = 'default'
_message    = 'default'
_table      = 'default'

/* Modules */
_accordion  = 'default'
_checkbox   = 'default'
_dimmer     = 'default'
_dropdown   = 'default'
_embed      = 'default'
_modal      = 'default'
_nag        = 'default'
_popup      = 'default'
_progress   = 'default'
_rating     = 'default'
_search     = 'default'
_shape      = 'default'
_sidebar    = 'default'
_sticky     = 'default'
_tab        = 'default'
_transition = 'default'

/* Views */
_ad         = 'default'
_card       = 'default'
_comment    = 'default'
_feed       = 'default'
_item       = 'default'
_statistic  = 'default'

/*******************************
            Folders
*******************************/

/* Path to theme packages */
themesFolder = 'themes'

/* Path to site override folder */
siteFolder  = 'site'


/* End Config */