/*******************************
        Import Directives
*******************************/
use('./helpers/file-exist.js')

// import theme config
@import 'themes.config.styl'

theme = lookup(element);

/*--------------------
   Site Variables
---------------------*/

/* Default */
defaultGlobalSiteVariable = themesFolder ＋ '/default/globals/site.variables.styl'
@import defaultGlobalSiteVariable if file-exists(defaultGlobalSiteVariable)

/* Packaged Theme */
themeGlobalSiteVariable = themesFolder + '/' + site + '/globals/site.variables.styl'
@import themeGlobalSiteVariable if file-exists(themeGlobalSiteVariable)

/* Site Theme */
siteGlobalSiteVariable = siteFolder + '/globals/site.variables.styl'
@import siteGlobalSiteVariable if file-exists(siteGlobalSiteVariable)


/*-------------------
 Component Variables
---------------------*/

/* Default */
defaultComponentVariable = themesFolder + '/default/' + type + 's/' + element + '.variables.styl'
@import defaultComponentVariable

/* Packaged Theme */
themeComponentVariable = themesFolder + '/'+ theme +'/' + type + 's/' + element + '.variables.styl'
@import themeComponentVariable

/* Site Theme */
siteComponentVariable = siteFolder + '/' + type + 's/' + element + '.variables.styl'
@import siteComponentVariable if file-exists(siteComponentVariable)


/*******************************
             Mix-ins
*******************************/

/*------------------
     Overrides
-------------------*/
themeComponentOverride = themesFolder + '/' + theme + '/' + type + 's/' + element + '.overrides.styl'
siteComponentOverride = siteFolder + '/' + type + 's/' + element + '.overrides.styl'

loadUIOverrides()
  @import themeComponentOverride
  @import siteComponentOverride if file-exists(siteComponentOverride)
