@import '../globals/site.variables'
// For border-box mainly
gridGutterWidth = 30px

gridContainerFixWidth = {
  tablet: 720px + gridGutterWidth,
  desktop: 940px + gridGutterWidth,
  largeDesktop: 1140px + gridGutterWidth
}