headerSmallColor = grayLight

qQuoteEn = "\201c" "\201d" "\2018" "\2019"
qQuoteCn = "\300c" "\300d" "\300e" "\300f"

abbrBorderColor = grayLight

hrBorderColor = lightGrey

blockquoteBorderColor = grayLighter
blockquoteFontSize    = (textSize * 1.25)
blockquoteSmallColor  = grayLight

codeColor = #c7254e
codeBg    = #f9f2f4

kbdColor  = #fff
kbdBg     = #333

preBg                  = #f5f5f5
preColor               = grayDark
preBorderColor         = #ccc
preScrollableMaxHeight = 340px